:root {
    --gray-400: #666666;
    --gray-800: #333333;
}

article.card {
    border: 1px solid var(--gray-400);
    padding: 1rem;
    width: 16rem;
    height: 8rem;
    margin: 1rem;

    & div.content {
        margin-bottom: .5rem;

        & h2 {
            color: var(--color-800);
            font-size: .8rem;
        }

        & ul {
            list-style: none;
            list-style-type: none;

            & li {
                color: var(--gray-400);
                display: inline;
                font-size: .8rem;
                list-style: none;
                list-style-type: none;
            }

            & li:after {
                content: ", ";
            }

            & li:last-child:after {
                content: ""
            }
        }
    }

    & header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
        margin-bottom: 1rem;

        & h1 {
            color: var(--gray-800);
            font-size: 1rem;
            margin-bottom: .5rem;
        }

        & p {
            color: var(--gray-400);
            display: flex;
            align-self: flex-end;
            font-size: .9rem;
            height: 3rem;
            overflow: hidden;
        }

        & p:after {
            content: "..."
        }

        & span {
            font-size: .8rem;

            &.failure a {
                background: red;
                color: white;
                padding: .2rem .4rem;
            }

            &.running a {
                background: green;
                color: white;    
                padding: .2rem .4rem;
            }

            &.stalled a {
                background: orange;
                color: white;    
                padding: .2rem .4rem;
            }
        }
    }
}